.theme-layout-navbar-div {
    background-color: transparent !important;
}

.videplayback::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Adjust values for more/less intensity */
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.7);
    pointer-events: none; /* Allows clicking through to the image if needed */
}
